@using scaffold.Models

<h1>Wall</h1>
<h3>Post a Message!</h3>
<div>
    @Html.Partial("AddMessage")
</div>
@{
    foreach (var message in ViewBag.Messages)
    {
        CommentViewModel Form = ViewBag.CommentForm;
        Form.message_id = message.id;
        <br>
        <p>"@message.body"</p>
        <p class="text-primary">-@message.user.first_name @message.updated_date</p>
        
        @foreach (var comment in message.comments) 
        {
            <p>@comment.body</p>
        }
        @Html.Partial("AddComment", Form)
        <hr>
    }
}